NODE_ENV=development
PORT=5000

# MongoDB Atlas Connection
DATABASE_URL=mongodb+srv://zenvoatechnologies_db_user:aI9fAJFCr9R87IQp@cluster0.7nxsfck.mongodb.net/turf_booking?retryWrites=true&w=majority

# JWT Secret
JWT_SECRET=p9S5trULXFE6v1xL8qfcx7DJNNh9pFT0dzYRhu6m2xM=
JWT_EXPIRE=7d

# Frontend URL
FRONTEND_URL=https://your-frontend.vercel.app

# Email Configuration (Update with your Gmail credentials)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=mahilmithranks192007@gmail.com
EMAIL_PASS=qygh qzzn jhav sggx
EMAIL_FROM=Turf Booking <turfbook@gmail.com>
